.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed; 
    width: 100%; height: 100%;
    -webkit-transition: .7s ease opacity; 
    -moz-transition: .7s ease opacity; 
    -ms-transition: .7s ease opacity; 
    -o-transition: .7s ease opacity; 
    transition: .7s ease opacity; 
    left: 0 !important; 
 
}
.carousel .one {
    background: url(../img/P1010191.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(../img/P1010293.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(../img/P1010035.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .active.left, 
.carousel .active.right { 
    opacity: 0; 
    z-index: 2; 
}


.Country{
    fill: rgba(250,230,200,0.2); 
}

.Ocean{
    fill: rgba(26, 19, 43, 0.7); outline-width:thick; outline-color:black; 
}